<div>
    <!-- header  -->
    <div class="text-white p-10 relative "
        style="background-image: url('../../../assets/background-img.png'); height: 300px;">
        <!-- arrow back  icon-->
        <img (click)="goBack()" class="w-10 h-10 cursor-pointer" src="../../../assets/arrow-back.png" alt="">
    </div>
    <!-- form input  -->
    <form>
        <div class="px-72 h-screen  border-2 absolute top-40 items-center left-48 right-48 bg-white rounded-lg">
          
        </div>
    </form>
</div>
