<!-- button add book -->
<div class="mt-5 mb-5 text-start ml-5">
    <button type="button" routerLink="/addNewBook"
        class="text-white bg-green-500 border border-gray-300 focus:outline-none hover:bg-green-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2">
        + Add New Book
    </button>
</div>

<!-- sidebar & main content -->
<div class="flex">
    <div>
        <!-- sidebar -->
        <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
            aria-controls="sidebar-multi-level-sidebar" type="button"
            class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                </path>
            </svg>
        </button>
        <aside id="sidebar-multi-level-sidebar"
            class="z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-200 dark:bg-gray-800">
                <ul class="space-y-2 font-medium">
                    <li>
                        <form>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input type="search" id="default-search" formControlName="search"
                                    [(ngModel)]="filterText"
                                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg"
                                    placeholder="Search category" required>
                            </div>
                        </form>
                    </li>
                    <!-- listing all category, the duplicated should be display once -->
                    <ng-container>
                        <!-- <div *ngFor="let book1 of bookData | filterName : filteredCategory"> -->
                            <div *ngFor="let book1 of bookData | filterBookCategory : filterText">
                            <li>
                                <button type="button"
                                    class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                                    aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                                    <span class="flex-1 ml-3 text-left whitespace-nowrap font-bold">
                                        <!-- {{ book1 | json }}  -->
                                        {{ book1.category }}
                                    </span>
                                </button>
                                <!-- listing all books by category -->
                                <!-- <ul id="dropdown-example" class="hidden py-2 space-y-2">
                                    <ng-container>
                                        <div *ngFor="let book2 of bookData">
                                            <li>
                                                <a href="#"
                                                    class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                                                    {{ book2.title }}
                                                  
                                                </a>
                                            </li>
                                        </div>
                                    </ng-container>
                                </ul> -->
                            </li>
                        </div>
                    </ng-container>
                </ul>
            </div>
        </aside>
    </div>
    <!-- content -->
    <div>
        <div class=" border-gray-200 shadow-xl border-2 rounded-lg pt-5">
            <p class="font-extrabold text-2xl text-center mb-5 uppercase">All Genres</p>
            <div class="grid grid-cols-2 justify-items-center items-center mt-5 gap-5 mx-5">
                <ng-container>
                    <div *ngFor="let book of bookData">
                        <a href="#"
                            class="h-[250px] mb-10 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                                src="{{book.bookImage}}" alt="book-image">
                            <div class="flex flex-col justify-between p-4 leading-normal">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    {{ book.title | categoryFilter : 10 | uppercase }}
                                </h5>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                    {{ book.author}}
                                </p>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">
                                    {{ book.description}}
                                </p>
                                <div>
                                    <button
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                                        View
                                    </button>
                                    <button
                                        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-2">
                                        Edit
                                    </button>
                                    <button (click)="deleteBook(book.id)"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>