<div class="grid grid-cols-2 p-10">

  <div class="bg-[#1B3764] rounded-lg flex items-center justify-center h-[550px]">
    <div class="">
      <img src="../../../assets//login/avatar.png" alt="avatar-image" class="w-36">
      <span class="text-white text-2xl text-center">
        <p class="text-lg">Welcome MYBOOK <br>
          <span class="text-sm">
            There is no friend as loyal as a book.
          </span>
        </p>
      </span>
    </div>
  </div>
  <div class="bg-white bg-opacity-10 px-10 border-2 rounded-lg">
    <img src="../../../assets//login/book.png" alt="">
    <h1 class="text-2xl text-center font-bold mt-10">WELCOME</h1>
    <form>
      <div class="mb-6">
        <label for="email" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com" required>
      </div>
      <div class="mb-6">
        <label for="password" class=" mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
        <input type="password" id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
      </div>

      <button type="submit" routerLink="/"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Login
      </button>
    </form>
  </div>
</div>