<div class="grid grid-cols-2 px-48 py-10">

  <div class="bg-[#1B3764] rounded-lg flex items-center justify-center h-[550px]">
    <div class="">
      <img src="../../../assets//login/avatar.png" alt="avatar-image" class="w-56">
      <span class="text-white text-2xl text-center">
        <p class="text-lg">Welcome MYBOOK <br>
          <span class="text-sm">
            There is no friend as loyal as a book.
          </span>
        </p>
      </span>
    </div>
  </div>

  <!-- login form -->
  <div class="px-10 shadow-xl border-gray-200 border-2 rounded-lg">
    <div class="mt-32">
      <img class="block ml-auto mr-auto h-8" src="../../../assets//login/book.png" alt="">
    </div>
    <h1 class="text-3xl text-center font-bold">WELCOME</h1>
    <form class="items-center justify-center " (ngSubmit)="login()" [formGroup]="reactiveForm">
      <!-- maybe need to check login/logout condition, once login diplay logout and reverse -->

      <!-- check validation on email & address -->
      <ng-container formGroupName="emailAddress">
        <!-- email validation -->
        <label for="email" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" id="email" formControlName="email" placeholder="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com">
        <ng-container *ngIf="reactiveForm.get('emailAddress.email')?.invalid">
          <p style="color: red;" *ngIf="reactiveForm.get('emailAddress.email')?.touched && 
        reactiveForm.get('emailAddress.email')?.errors?.['required']">
            *Email is required.
          </p>
          <p style="color: red;" *ngIf="reactiveForm.get('emailAddress.email')?.dirty &&
        reactiveForm.get('emailAddress.email')?.errors?.['email']">
            *Email is invalided.
          </p>
        </ng-container>
      </ng-container>

      <!-- check validation on password -->
      <label for="password" class=" mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
      <input type="password" id="password" formControlName="password" placeholder="passwoard"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required>
      <ng-container *ngIf="reactiveForm.get('password')?.invalid">
        <p *ngIf="reactiveForm.get('password')?.touched && 
          reactiveForm.get('password')?.errors?.['required']" style="color: red;">
          *Password is required.
        </p>
        <!-- we use '?.' to prevent null because this property can be null, so when it's null we cannot check condition -->
        <p *ngIf="reactiveForm.get('password')?.errors?.['minlength'] && reactiveForm.get('password')?.dirty"
          style="color: red;">
          *Password must be at least 6 characters.
        </p>
        <p style="color: red;"
          *ngIf="reactiveForm.get('password')?.errors?.['nameIsRestricted'] && reactiveForm.get('password')?.dirty">
          *This passwoard is invalid, please try other.
        </p>
      </ng-container>
      <!-- <button type="submit" [disabled]="reactiveForm.invalid">Submit</button> user must filled all the requirement -->
      <button (click)="login()" [disabled]="reactiveForm.invalid" routerLink="/"
        class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Login
      </button>

    </form>
  </div>
</div>